# 🚀 Virtual Environment
.venv/
venv/

# 🐍 Python Caches & Artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/
*.log
*.pyc

# 🔑 Environment Variables & Secrets
.env
.env.*
!.env.example

# 🛠️ Build & Coverage Artifacts
dist/
build/
.coverage
htmlcov/
*.class
.build/
.buildlog/

# 🍎 Windows & macOS System Files
.DS_Store
Thumbs.db

# 💻 Editor & IDE Files
.vscode/
.idea/
*.iml
*.ipr
*.iws
.atom/
*.swp
.history

# ⚙️ Version Control System Files (e.g., Subversion)
.svn/

# 🍏 Swift & Flutter/Dart
.swiftpm/
migrate_working_dir/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# 🤖 Android Studio & Obfuscation
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json