# venv
.venv/
venv/

# python 캐시
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

# 에디터/OS 잡파일
.vscode/
.idea/
.DS_Store
Thumbs.db

# 환경변수/비밀
.env
.env.*
!.env.example

# 빌드/커버리지
dist/
build/
.coverage
htmlcov/

backend/app/assets/models/
backend/app/assets/debug/
backend/app/assets/**/*.tmp
*.onnx
*.pt
